<!DOCTYPE html>
<html>
    <head>
        <title>DOTA - <%=stat_dota.username%></title>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="/assets/lib/icons/favicon.png"/>
        <link rel="stylesheet" href="assets/dota_stat/css/style.css">
    </head>
    <header id="header">
        <a href="index"><img src="assets/lib/images/againstu.png" alt="main_logo" id="main_logo" /></a>
        <div id="header_contener">
            <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header" /></a>
            <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header" /></a>
            <a href="about">
                <ul class="button_header">About us</ul>
            </a>
        </div>
    </header>
    <body>
        <div id="header_overview_div">
            <div id="overview_div">
                <img id="overview_img" src="<%=stat_dota.PlayerSummaries.avatarfull%>" alt="avatar_not_found" />
                <div id="overview_div_info">
                    <p>Nickname: <%=stat_dota.PlayerSummaries.personaname%></p>
                    <p>Last login: <%= stat_dota.date_last_login%></p>
                    <p>SteamID: <%= stat_dota.username%></p>
                </div>
            </div>
            <div id="matches_win_div">
                <h2 id="heroes_most_played_title">Heroes most played:</h2>
                <div id="matches_win_sub_div">
                    <figure>
                        <img src="<%=stat_dota.PlayerSummaries.avatarfull%>" alt="heroe1_not_found" />
                        <figcaption class="fig_heroe_name_most_played">HeroeName1</figcaption>
                    </figure>
                    <figure>
                        <img src="<%=stat_dota.PlayerSummaries.avatarfull%>" alt="heroe2_not_found" />
                        <figcaption class="fig_heroe_name_most_played">HeroeName2</figcaption>
                    </figure>
                    <figure>
                        <img src="<%=stat_dota.PlayerSummaries.avatarfull%>" alt="heroe3_not_found" />
                        <figcaption class="fig_heroe_name_most_played">HeroeName3</figcaption>
                    </figure>
                </div>
            </div>
            <div id="pourcentage_ranking_div">
                <img src="<%=stat_dota.PlayerSummaries.avatarfull%>" alt="ranking_picture_not_found" />
                <p>60% of victories</p>
            </div>
            <div id="steam_info_player_div">
                <p>SteamID64 : <%=stat_dota.id64%></p>
                <p>SteamID32 : <%=stat_dota.id32%></p>
                <p>ProfileURL: <%=stat_dota.PlayerSummaries.profileurl%></p>
                <%switch (stat_dota.PlayerSummaries.personastate) {
                    case 0:%>
                        <p>Status: offline</p>
                    <%break;
                    case 1:%>
                        <p>Status: online</p>
                    <%break;
                    case 2:%>
                        <p>Status: Busy</p>
                    <%break;
                    case 3:%>
                        <p>Status: Away</p>
                    <%break;
                    case 4:%>
                        <p>Status: Snooze</p>
                    <%break;
                    case 5:%>
                        <p>Status: Looking to trade</p>
                    <%break;
                    case 6:%>
                        <p>Status: Looking to play</p>
                    <%break;
                    default:%>
                        <p>Status: Unknown</p>
                    <%break;
                } %>
            </div>
        </div>
        <div id="all_matches_div">
            <span>
                <% for (var n_matches = 0; n_matches < 5; n_matches++) { %>
                    <div id="one_match_div">
                        <h2 class="txt">Matches N°<%=n_matches + 1%> (id: <%=stat_dota.RecentMatches.result.matches[n_matches].match_id%>)</h2>
                        <h4 class="txt">Match start: <%=stat_dota.RecentMatches.result.matches[n_matches].start_time%></h4>
                        <% for (var id_team = 0; id_team < 2; id_team++) { %>
                            <div id="match_table">
                                <table>
                                    <h4 class="txt">LE DIRE: <%=id_team%></h4>
                                    <thead>
                                        <tr>
                                            <th>Hero</th>
                                            <th>K</th>
                                            <th>D</th>
                                            <th>A</th>
                                            <th>Gold</th>
                                            <th>DMG</th>
                                            <th>Heal</th>
                                            <th>Items</th>
                                        </tr>
                                    </thead>
                                    <% for (var n_player = 0; n_player < 5; n_player++) { %>
                                        <tbody>
                                            <tr>
                                                <td><img id="img_hero" alt="hero_not_found" title="<%=stat_dota.HeroesInfo.heroes[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].hero_id - 1].localized_name%> (LvL: <%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].level%>)"src="http://cdn.dota2.com/apps/dota2/images/heroes/<%=stat_dota.HeroesInfo.heroes[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].hero_id - 1].name.substring(14)%>_sb.png"/></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].kills%></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].deaths%></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].assists%></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].gold + stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].gold_spent%></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].hero_damage%></td>
                                                <td><%=stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].hero_healing%></td>
                                                <td>
                                                    <div id="all_item_div">
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_0].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item0_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_0].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_0].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item0_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_0].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_0].name.substring(12)%>_lg.png'/></td>
                                                        <% } %>
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_1].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item1_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_1].localized_name%>"src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_1].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item1_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_1].localized_name%>"src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_1].name.substring(12)%>_lg.png'/>
                                                        <% } %>
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_2].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item2_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_2].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_2].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item2_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_2].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_2].name.substring(12)%>_lg.png'/>
                                                        <% } %>
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_3].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item3_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_3].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_3].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item3_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_3].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_3].name.substring(12)%>_lg.png'/>
                                                        <% } %>
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_4].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item4_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_4].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_4].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item4_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_4].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_4].name.substring(12)%>_lg.png'/>
                                                        <% } %>
                                                        <%if (!stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_5].name.includes("item_recipe")) { %>
                                                            <img class="img_item" alt="item5_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_5].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_5].name.substring(5)%>_lg.png'/>
                                                        <% } else { %>
                                                            <img class="img_item" alt="item5_not_found" title="<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_5].localized_name%>" src='http://cdn.dota2.com/apps/dota2/images/items/<%=stat_dota.ItemsInfo.items[stat_dota.RecentMatchesDetail[n_matches].result.players[n_player * (id_team + 1)].item_5].name.substring(12)%>_lg.png'/>
                                                        <% } %>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    <% } %>
                                </table>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </span>
        </div>
    </body>
</html>
